<% content_for :title, "Memos" %>

<div class="w-full">
  <%= flash_container %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Memos</h1>
    <%= link_to "New memo", new_memo_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <%= turbo_frame_tag "memos" do %>
    <%= flash_storage %>

    <%= form_with url: memos_path,
                  method: :get,
                  data: {
                    turbo_frame: 'memos',
                    turbo_action: 'advance',
                    controller: 'clear-flash-messages',
                    action: 'submit->clear-flash-messages#clear'
                  },
                  class: "my-4 flex items-center space-x-3" do |f| %>

      <%= filter_control(f, :offset,
        label_text: "offset:",
        default: (params[:offset].presence || 0),
        number_min: 0,
        param_error: (@memos_param_error == :offset),
        param_warning: (@memos_param_warning == :offset)
      ) %>

      <% sort_options = Memo.sort_orders.map { |o| [o, o] } %>
      <%= filter_control(f, :sort_order,
        label_text: "order:",
        select_options: sort_options,
        default: (params[:sort_order] || Memo.default_sort_order),
        param_error: (@memos_param_error == :sort_order),
        param_warning: (@memos_param_warning == :sort_order)
      ) %>

      <%= filter_control(f, :limit,
        label_text: "limit:",
        default: (params[:limit].presence || (Rails.configuration.respond_to?(:memos_default_limit) ? Rails.configuration.memos_default_limit : 10)),
        number_min: 1,
        param_error: (@memos_param_error == :limit),
        param_warning: (@memos_param_warning == :limit)
      ) %>

      <%= f.submit "Apply", class: "rounded-md px-3 py-1 bg-gray-200 hover:bg-gray-100" %>
    <% end %>

    <% if @memos.any? %>
      <% @memos.each do |memo| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render memo %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Show", memo, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= link_to "Edit", edit_memo_path(memo), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= button_to "Destroy", memo, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No memos found.</p>
    <% end %>
  <% end %>
</div>
