<!DOCTYPE html>
<html data-flash-unified-enable-network-errors="true">
  <head>
    <title><%= content_for(:title) || "Client Side Flash Message" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= flash_unified_sources %>

    <div id="time-current" class="px-5 p-1 text-gray-400 bg-gray-200 w-full">
      <span><%= Time.current.strftime("%Y-%m-%d %H:%M:%S.%L") %></span>
      <span class="text-sm text-gray-400">(If unchanged, this indicates that a Turbo Frame partial update occurred.)</span>
    </div>

    <main class="container mx-auto mt-8 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
